.pokemonlist {
  display: flex;
  flex-direction: column;
  /* padding-top: 5%; */
}

.pokemonlist-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  align-items: center;
}

.pokemonlist-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media (max-width: 768px) { 
  .pokemonlist-container {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 640px) { 
  .pokemonlist-container {
    grid-template-columns: repeat(3, auto);
  }
}